{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}HAZF{% endblock %}
{% block styles %}
  {{ super() }}
  <style>
    body {
      margin: 20px;
    }
    .navbar {
      background-color: blueviolet;
      border-style: none;
    }
    .navbar-brand {
      color: white !important;
    }
    .navbar-nav > li > a {
      color: white !important;
      background-color: blue !important;
    }
    .navbar-nav > li.active > a {
      background-color: cyan !important;
    }
  </style>
{% endblock %}
{% block navbar %}
  {{ nav.top.render() }}
{% endblock %}
{% block content %}
  <h1>Home Assistant Zoom Forwarder</h1>
  <p>Forwards Zoom events to a <a href="https://github.com/raman325/ha-zoom-automation">Home Assistant custom component</a>.</p>
  <p><a href="/new">Set up forwarding</a></p>
{% endblock %}
