{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}HAZF setup{% endblock %}
{% block styles %}
  {{ super() }}
  <style>
    body {
      margin: 20px;
    }
    * {
      font-weight: bold;
    }
  </style>
{% endblock %}
{% block content %}
  <h1>HAZF setup: Home Assistant Zoom Forwarder setup</h1>
  {{ wtf.form_errors(form, hiddens="only") }}
  <form method="POST">
    <fieldset>
      <legend>Setup</legend>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.submit) }}
    </fieldset>
  </form>
{% endblock %}
