{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}HAZF setup{% endblock %}
{% block styles %}
  {{ super() }}
  <style>
    body {
      margin: 20px;
    }
    *:not(input[type="text"]):not(i) {
      font-weight: bold !important;
    }
    .navbar {
      background-color: blueviolet;
      border-style: none;
    }
    .navbar-brand {
      color: white !important;
    }
    .navbar-nav > li > a {
      color: white !important;
      background-color: #362be2 !important;
    }
    .navbar-nav > li.active > a {
      background-color: #2be2d1 !important;
    }
  </style>
{% endblock %}
{% block navbar %}
  {{ nav.top.render() }}
{% endblock %}
{% block content %}
  <h1>HAZF setup: Home Assistant Zoom Forwarder setup</h1>
  {{ wtf.form_errors(form, hiddens="only") }}
  <form method="POST">
    <fieldset>
      <legend>Setup</legend>
      {{ form.hidden_tag() }}
      <p>
        <i>This is just used to forward requests. No nefarious stuff here!
        </i>
      </p>
      {{ wtf.form_field(form.url) }}
      <p>
        <i>This app gets multiple requests from multiple emails, and will use that email to only send your Zoom events to your Home Assistant.<br>
        You'll get a confirmation link, so you can't spy on people by entering in their email and your Home Assistant.
        </i>
      </p>
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.submit, button_map={"submit": "primary"}) }}
    </fieldset>
  </form>
{% endblock %}
